.icon-circle, .icon-circle-large, .icon-circle-small {
    padding: 5px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
    
    border: 1px solid #32db64;
    background-color: #32db64;
  }